<div class="center-container">
  <h1 class="logo">Cafelogue</h1>
  <p class="subtext">カフェ巡りがもっと楽しくなる場所。</p>

  <div class="button-container">
    <%= link_to "Log in", tweets_path, class: "btn" %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn" %>
  </div>
</div>
