html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* bodyが画面いっぱいに広がるように */
  overflow: auto; /* スクロールバーが表示されないように */
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* ビューポートの高さに合わせる */
  width: 100vw;  /* ビューポートの幅に合わせる */
  background-color: #f0f0f0; /* 少し明るいグレーに変更 */
  font-family: 'Noto Sans JP', sans-serif; /* 日本語フォントを適用 */
  color: #333;
}

h1.logo {
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  margin-bottom: 12px;
  color: #333;
}

.subtext {
  font-size: 22px;
  margin-bottom: 40px;
  line-height: 1.6;
}

.button-container {
  display: flex;
  gap: 40px;
}

.btn {
  background-color: #e0e0e0;
  color: #333;
  padding: 10px 32px;
  border: 1px solid #c0c0c0;
  text-decoration: none;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.btn:hover {
  background-color: #d0d0d0;
  border-color: #a0a0a0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.auth-btn {
  font-family: 'Dancing Script', cursive;
  font-size: 22px;
  font-weight: 700;
}