.form-wrapper {
  padding: 20px;
}
.form-columns {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.form-left, .form-right {
padding-left: 20px; 
  flex: 1;
}
#map {
  height: 400px;
  width: 100%;
}
.submit-wrapper {
  text-align: center;
  margin-top: 30px;
}
.submit-button {
  padding: 10px 30px;
  font-size: 1.2rem;
  background-color: #dcdcdc;
  border: none;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  font-family: 'Dancing Script', cursive;
}
.submit-button:hover {
  background-color: #dcdcdc;
}
.form-group {
  margin-bottom: 40px;
}